<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <form method="post" action="{% url 'register' %}" class="login-form">
            {% csrf_token %}
            <h2>Registro</h2>
            {{ register_form.as_p }}
            <input type="submit" value="Registrarse"/>
        </form>
        
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
    </div>
</body>
</html>
